<div class="row">
    <div class="col-md-4">
        <h2>Список проектов</h2>
        <table class="allprojects table table-bordered">
            <thead>
                <tr>
                    <th>Название проекта(в settings)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <form class="addProject">
            <h2>Добавить проект</h2>
            <p><input name="project" class="form-control" placeholder="Название проекта"/></p>
            <p><input type="submit" class="btn btn-success" value="Добавить"/></p>
        </form>
    </div>
</div>
