<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered">
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Текст</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Срок</th>
                <th>Проект</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Управление статусами локальных задач</td>
                <td>Добавить возможность сменить статусы локальным задачам...</td>
                <td><span class="label label-warning">Поставлена</span></td>
                <td>27-11-2012</td>
                <td>21-12-2012</td>
                <td>Avito</td>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default">Поставленные</button>
            <button type="button" class="btn btn-default active">На проверке</button>
            <button type="button" class="btn btn-default">Отмененные</button>
            <button type="button" class="btn btn-default">Выполненные</button>
            <button type="button" class="btn btn-default">Удаленные</button>
        </div>
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default active">Просроченные</button>
            <button type="button" class="btn btn-default">Сегодня и ранее</button>
            <button type="button" class="btn btn-default">Этот месяц</button>
            <button type="button" class="btn btn-default">Следующий месяц</button>
            <button type="button" class="btn btn-default">Без срока</button>
        </div>
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default">scanlight.ru</button>
            <button type="button" class="btn btn-default">avito.ru</button>
        </div>
    </div>
</div>
